.input-rejilla{
    height: 60px;
    width: 60px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    background: #eee4da;
    margin-bottom: 10px;
}

.fondo-principal{
    background: #faf8ef;
}

.titulo-principal{
    font-weight: bold;
    color: #806e4f;
    font-size: 26px;
}

.rejilla-2048{
    background: #bbada0;
    border-radius: 10px;
    padding-left: 9px;
    padding: 20px 23px 10px 15px !important;
    margin-top: 20px;
}

.logo-unah{
    width: 150px;
    margin-top: 20px;
}

.item-menu{
    width: 150px;
    height: 60px;
    border-radius: 0px !important;
    margin-top: 10px;
    text-align: left !important;
    background: #434A54 !important;
    color: #FFF !important;
}

.item-menu:hover{
    background: #656D78 !important;
}

.subtitulo-item-menu{
    display: block;
    font-size: 60%;
    margin-left: 23px;
}

.div-movimientos{
    background: #286090;
    height: 45px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-top: 13px;
    color: #FFF;
}

.font-25{
    font-size: 25px !important;
}

.font-19{
    font-size: 19px !important;
}