<div class="container">
	<div class="row">
		<div class="col-md-3">
			<br>
			<button type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio
			</button><br>
			<button type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadísticas
			</button><br>
			<button ng-click="generarTablero()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 
			  Generar
			  <small class="subtitulo-item-menu">Tablero inicial</small>
			</button><br>
			<button ng-click="obtenerAyuda()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 
			  Ayuda
			  <small class="subtitulo-item-menu">Sobre movimiento</small>
			</button><br>
			<button type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
			  Automatico
			  <small class="subtitulo-item-menu">Modo inteligente</small>
			</button><br>
			<button ng-click="moverEnDireccionIzquierda()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 
			  Izquierdo (0)
			  <small class="subtitulo-item-menu">(Movimiento)</small>
			</button><br>
			<button ng-click="moverEnDireccionDerecha()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
			  Derecho (1)
			  <small class="subtitulo-item-menu">(Movimiento)</small>
			</button><br>
			<button ng-click="moverEnDireccionArriba()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> 
			  Arriba (2)
			  <small class="subtitulo-item-menu">(Movimiento)</small>
			</button><br>
			<button ng-click="moverEnDireccionAbajo()" type="button" class="btn btn-default btn-lg item-menu">
			  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> 
			  Abajo (3)
			  <small class="subtitulo-item-menu">(Movimiento)</small>
			</button><br>
		</div>
		<div class="col-md-8">
			<center>
				<h3 class="titulo-principal">Universidad Nacional Autónoma de Honduras</h3>
				<h4>Facultad de Ingenieria en Sístemas</h4>
			</center>
			<hr>
			<div class="row">
				<div class="col-md-10">
					<p>Función de evaluacion de estados</p>
					<label class="radio-inline"><input type="radio" name="optradio">Heurística 1</label>
					<label class="radio-inline"><input type="radio" name="optradio">Heurística 2</label>
					<label class="radio-inline"><input type="radio" name="optradio">Heurística 3</label>
					<label class="radio-inline"><input type="radio" name="optradio">Heurística 4</label>
				</div>
				<div class="col-md-1">
					<button ng-click="limpiarTablero()" type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> 
					  Limpiar
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 rejilla-2048">
					<div class="row">
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[0][0]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[0][1]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[0][2]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[0][3]"  type="number" class="input-rejilla">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[1][0]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[1][1]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[1][2]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[1][3]"  type="number" class="input-rejilla">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[2][0]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[2][1]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[2][2]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[2][3]"  type="number" class="input-rejilla">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[3][0]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[3][1]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[3][2]"  type="number" class="input-rejilla">
						</div>
						<div class="col-md-3">
							<input ng-model="rejillaPrincipal[3][3]"  type="number" class="input-rejilla">
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div><br>
			<div class="row">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<p>Porcentaje de éxito por cada movimiento</p><hr>
						<div class="row">
							<div class="col-md-3">
								<div class="div-movimientos">
								  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 
								  80% éxito
								</div>
							</div>
							<div class="col-md-3">
								<div div class="div-movimientos">
								  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
								  10% éxito
								</div>
							</div>
							<div class="col-md-3">
								<div div class="div-movimientos">
								  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> 
								  5% éxito
								</div>
							</div>
							<div class="col-md-3">
								<div div class="div-movimientos">
								  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> 
								  5% éxito
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>